<launch>
	<node pkg="map_server" name="map_server" type="map_server" args="$(find p1_test)/launch/map3.yaml">
	</node>

	<include file="$(find amcl)/examples/amcl_diff.launch"/>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find p1_test)/launch/costmap_common_params.yaml" command="load" ns="global_costmap"/>
		<rosparam file="$(find p1_test)/launch/costmap_common_params.yaml" command="load" ns="local_costmap"/>
		<rosparam file="$(find p1_test)/launch/local_costmap_params.yaml" command="load"/>
		<rosparam file="$(find p1_test)/launch/global_costmap_params.yaml" command="load"/>
		<rosparam file="$(find p1_test)/launch/base_local_planner_params.yaml" command="load"/>
	</node>
</launch>